.header {
    padding: 20px 0;
    border-bottom: 1px solid #DDD;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bagIcon {
    cursor: pointer;
}

#burger_menu {
    display: none;
}


@media (max-width: 768px) {
    .header {
        padding: 12px 0;
    }

    .image_box {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #burger_menu {
        display: block;
        width: 44px;
        cursor: pointer;
    }

    .header_wrapper img:first-child {
        width: 44px;
    }

    .image_box img:first-child {
        width: 32px;
    }
}