.navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.navigation a {
    color: #282828;
    font-size: 20px;
    line-height: 130%;
}

.navigation_dark a {
    color: white;
}

.navigation a:hover {
    color: #0B710B;
}

@media (max-width: 1000px) {
    .navigation ul {
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .navigation ul {
        display: none;
    }
}