.products_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 80px;
    cursor: pointer;
    flex-wrap: wrap;
}

@media (max-width: 1440px) {
    .products_block {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .products_block {
        flex-direction: column;
    }

    .products_block {
        padding-bottom: 24px;
    }
}