.productCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.productCard::after {
    content: '-' attr(data-discount-percentage)'%';
    position: absolute;
    top: 15px;
    right: 15px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    border-radius: 6px;
    background: #393;
    padding: 4px 8px;
}

.productCard img {
    width: 100%;
    height: 284px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #DDD;
    object-fit: cover;
}

.text_descriptoin {
    padding: 20px 32px 32px 32px;
    border: 1px solid #DDD;
    border-radius: 0 0 12px 12px;
}

.text_descriptoin p {
    color: #282828;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin-bottom: 16px;
}

.prices {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.prices p:first-child {
    color: #282828;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
}

.prices p:last-child {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: line-through;
}