.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.productCard::after {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #FFF;
    font-size: clamp(1.125rem, 1.083rem + 0.19vw, 1.25rem);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    border-radius: 6px;
    background: #393;
    padding: 4px 8px;
}

.productCard.has-discount::after {
    content: '-' attr(data-discount-percentage)'%';
}

.productCard img {
    width: 100%;
    height: 284px;
    border-radius: 12px 12px 0 0;
    border: 1px solid #DDD;
    object-fit: cover;
}

.text_descriptoin {
    padding: 20px 32px 32px 32px;
    border: 1px solid #DDD;
    border-radius: 0 0 12px 12px;
}

.title {
    color: #282828;
    font-size: clamp(1.125rem, 1.083rem + 0.19vw, 1.25rem);
    font-weight: 500;
    line-height: 130%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin-bottom: 16px;
}

.title_dark {
    color: #ffffff;
}

.prices {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.price {
    color: #282828;
    font-size: clamp(2.25rem, 2.167rem + 0.37vw, 2.5rem);
    font-weight: 600;
    line-height: 110%;
}

.discont_price {
    color: #8B8B8B;
    font-size: clamp(1.125rem, 1.083rem + 0.19vw, 1.25rem);
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: line-through;
}

.prices_dark .price {
    color: #ffffff;
}

.productCard:hover .title {
    color: #0B710B;
}

@media (max-width: 1440px) {
    .productCard {
        width: 31%;
    }
}

@media (max-width: 1000px) {
    .productCard {
        width: 47%;
    }
}

@media (max-width: 768px) {
    .productCard {
        width: 46%;
    }
}

@media (max-width: 480px) {
    .productCard {
        width: 100%;
    }
}